

*.exe

*.fdb

admindb_app
db/**.FDB
pkg/
src/github.com/
src/golang.org/
src/gitlab.com/
log/

templates__old/

/DSG1849852
public/upload/
public/publish_log/

public/js/minify.all.js
public/css/minify.white.css
public/css/minify.dark.css
**/*.0sql

**/.idea
