{{define "content"}}

{{if .msg }}
<div class="alert alert-dismissible alert-warning">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<h4>Warning!</h4>
	<p>{{.msg}}</p>
</div>
{{end}}
{{if .err }}
<div class="container"><div class="alert alert-dismissible alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>{{.err}}</strong>
</div></div>
{{end}}
{{if .error }}
<div class="container"><div class="alert alert-dismissible alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>{{.error}}</strong>
</div></div>
{{end}}



<div class="container" style="display:none;"> 
	{{.user_data}}
	<form class="form-horizontal" method="POST" action="/login?f={{.get_vars.f}}">
	  <fieldset>
	    <legend>Авторизация</legend>
		<input type="hidden" name="f">
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
	      <div class="col-lg-10">
	        <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
	      <div class="col-lg-10">
	        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="pass">
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-lg-10 col-lg-offset-2">
	        <button type="submit" class="btn btn-primary">поехали</button>
	      </div>
	    </div>
	  </fieldset>
	</form>
</div>

<div class="container" style="display:none0;"> 
<br>
<center>

<!--
<script src="//ulogin.ru/js/ulogin.js"></script>
<div id="uLoginddaab996" data-ulogin="display=panel;fields=first_name,last_name,email;theme=flat;providers=vkontakte,odnoklassniki,google,yandex,mailru,facebook,instagram,twitter,steam;hidden=googleplus,livejournal,openid,lastfm,linkedin,liveid,soundcloud,flickr,uid,youtube,webmoney,foursquare,tumblr,vimeo,wargaming;redirect_uri="></div>
-->
<br>

	<a href="https://oauth.vk.com/authorize?client_id=5846108&scope=&redirect_uri=http://{{.http_request.host}}/auth_vk&response_type=code"
	   class="btn btn-primary">
	<!--{{if .sess.user}}повторная{{end}}--> авторизация через вк
	</a>
	<br>
	<a href="https://accounts.google.com/o/oauth2/v2/auth?scope=profile&state=security_token%{{.sess.startsess}}%26url%3Dhttp://{{.http_request.host}}/auth_google&redirect_uri=http://{{.http_request.host}}/auth_google&response_type=code&client_id=1078641315183-n90it8ihgvflh70pp49ohdeom122ks0p.apps.googleusercontent.com&access_type=offline"
	   class="btn btn-primary">
	<!--{{if .sess.user}}повторная{{end}}--> авторизация через google
	</a>
	
	
	<br><br><br>
	<a href="/logout?1"
	   class="btn btn-primary">
	выход
	</a>
</center>
</div>


{{if .success }}
<br>
<div class="container"><div class="alert alert-dismissible alert-success">
	  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	  	<strong>{{.success}}</strong>
</div></div>
{{end}}

<br><br>

<!--
<pre>{ {.sess} }</pre>
<pre>{ {.info} }</pre>

<pre>{ {dump_spew2 .resp_user_info 2 "\t"} }</pre>


<pre>{ {dump_spew2 . 2 "\t"} }</pre>
-->

{{end}}