
{{define "content"}}
<div class="container">
	<center>
	<h2><ff1>AdminCodeBase.info</ff1><br>справочник <a href="http://lurkmore.to/%D0%90%D0%B4%D0%BC%D0%B8%D0%BD">эникейщика</a></h2>
	
	<h1 id="type">
		<ff3>
			Здесь собрана только проверенная информация, код, скрипты, серийные номера&nbsp;
			<small>которые сложно найти, легко потерять и невозможно запомнить ))</small>
			<!-- которые я забываю или не запоминаю вообще а на повторный их поиск жалко тратить время -->
		</ff3>
		<br>
	</h1>
	</center>
	
	<br>Все что здесь собрано - проверено и точно рабочее!, или точно работало раньше )) 
	<br>но если вам удастся найти какие то неточности и/или ошибки вы можете исправить их просто прокомментировав найденную запись
	<br>&nbsp;&nbsp;&nbsp; а ещё так вы выразите свою благодарность автору и простимулируете дальнейшее развитие этого сайта.
	<br><br><b>Спасибо. &nbsp; Удачи!</b>
	<br>
	
</div>



<div class="container">
  <div class="row">
	<h1>Выберите базу данных:</h1>
	<div class="list-group">
	      <a href="/s?d=a" class="list-group-item">
	      <h3 class="list-group-item-heading"><b>Ад</b>министрирование 
			<br><small>сборник проверенных скриптов, ссылок, батников, инструкций и просто всяких полезностей в помощь администратору</small></h3>
	      </a>
	      <a href="/s?d=p" class="list-group-item">
	      <h3 class="list-group-item-heading">Программирование 
			<br><small>справочник по функциям, синтаксису, примеры кода и другой информации для программеров</small></h3>
	      </a>
	      <a href="/s?d=s" class="list-group-item">
	      <h3 class="list-group-item-heading">Закрытая БД
			<br><small>проверенные серийники/ключи для активации софта + ссылки на проверенные торренты и варез</small></h3>
	      </a>
	</div>

  </div>
</div>
{{end}}
