
{{define "content"}}
<div class="container-fluid">
	<center>
	<h2><ff2>anykeyadmin.info</ff2><br>справочник <a href="http://lurkmore.to/%D0%90%D0%B4%D0%BC%D0%B8%D0%BD">эникейщика</a></h2>
	
	<h1 id="type">
		<ff3>
			Только проверенные скрипты, код, инструкции, серийные номера и <a href="http://lurkmore.to/%D0%92%D0%B0%D1%80%D0%B5%D0%B7">варез</a>&nbsp;
			<small>все то что сложно найти, легко потерять и невозможно запомнить ))</small>
			<!-- которые я забываю или не запоминаю вообще а на повторный их поиск жалко тратить время -->
		</ff3>
		<br>
	</h1>
	</center>
	
	<br>Все что здесь собрано - проверено лично мною и точно рабочее!, или точно работало раньше..
	<br>но если вы найдете какие то неточности и/или ошибки, сообщите мне просто прокомментировав ошибочную запись
	<br>&nbsp;&nbsp;&nbsp; так вы выразите свою благодарность автору и простимулируете дальнейшее развитие и поддержание актуальности информации на этом сайте. 
	<br><br><b><big>Спасибо. &nbsp; Удачи!</big></b>
	<br>
	
</div>



<div class="container">
  <div class="row">
	<h3>Выберите базу данных:</h3>
	<div class="list-group">
	      <a href="/s?d=a" class="list-group-item">
	      <h3 class="list-group-item-heading"><b>Ад</b>министрирование 
			<br><small>сборничек проверенных скриптов, ссылок, батников, инструкций и просто всяких полезностей в помощь администратору</small></h3>
	      </a>
	      <a href="/s?d=p" class="list-group-item">
	      <h3 class="list-group-item-heading">Программирование 
			<br><small>справочник по функциям, синтаксису, примеры/части кода и другого полезняка для программеров</small></h3>
	      </a>
	      <a href="/s?d=w" class="list-group-item">
	      <h3 class="list-group-item-heading">Варез
			<br><small>серийники/ключи/кряки + ссылки на проверенные торренты и варез</small></h3>
	      </a>
	</div>

  </div>
</div>
{{end}}
