
{{define "content"}}
<style>
.post_text {
	word-wrap: break-word;
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.post_text>code {
	display:block;
    content: " ";
    clear: both;
	float: none;
    display: table;
	padding: 5px;
}
</style>



{{if .error }}
<div class="container"><div class="alert alert-dismissible alert-danger">
	  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	  	<strong>{{.error}}</strong>
</div></div>
{{end}}


{{if and (.db_access) (eq .db_access "0") }}
<center>
	<a href="https://oauth.vk.com/authorize?client_id=5802778&scope=&redirect_uri=http://{{.http_request.host}}/auth_vk&response_type=code"
	   class="btn btn-primary">
		пройти тест
	</a>
</center>
{{else}}


<div class="row">
	<div class="col-md-9">
	    <h1><a href="/p?d={{.db.ShortName}}&id={{.data.uuid}}">{{.data.name}}</a></h1>
	</div>
	<div class="col-md-3">
	    <small>db: <a href="/s?d={{.db.ShortName}}"><b>{{.db.Name}}</b></a></small>
		{{if not (eq .db_access "0") }}
			<br><a href="/e?d={{.db.ShortName}}&id={{.data.uuid}}" 
					data-toggle="tooltip" data-placement="bottom" title="редактировать" data-original-title="редактировать" 
					class="btn btn-primary btn"> 
				редактировать 
				</a>
		{{end}}
	</div>
</div>

<div class="row"><div class="col-md-12 post_text">
{{unsafeHtmlPost .data.text}}
</div></div>


<div class="row"><div class="col-md-12 post_text">
{{.data.text_html}}
</div></div>

<div class="row"><div class="col-md-12 post_tags">
<div class="panel panel-default"><div class="panel-body">
{{.data.tags}}
</div></div>
</div></div>





{{end}} <!-- (.db_access) (eq .db_access "0") -->



{{end}}
