
{{define "content"}}
<script language='javascript'>
window.edit_form3000__data = {load_data:{},save_data:{},publish:{},post:{},publishwork:{}}

$(document).ready(function(){
	var p = window.edit_form3000__data.post;
	p.db                 = '{{.db.ShortName}}';
	p.uuid               = '{{.data.uuid}}';
	p.uuid_user_create   = '{{.data.uuid_user_create}}';
	p.uuid_user          = '{{.data.uuid_user}}';
	p.uuid_user_publish  = '{{.data.uuid_user_publish}}';
	p.edit_type          = '{{.data.edit_type}}';
	
	//if(p.edit_type!='create'){
	//	edit_form3000__load_data();
	//}
	
	var f = $('#edit_form3000');	
	f.find('#post_save').on('click',edit_form3000__save_data);
	f.find('#post_publish').on('click',edit_form3000__publish);
	//f.find('#post_delete').on('click',edit_form3000__delete_data);
	
	edit_form3000__load_data();
})

//выводим прогресс бар
function edit_form3000__show_progress(show,text){
	if(show==1){
		$('#edit_form3000_progress').show();
		if(!text) text = 'загрузка..';
		$('#edit_form3000_progress>.text').html(text);
		$('#edit_form3000_actions').hide();
	}else{
		$('#edit_form3000_progress').hide();
		$('#edit_form3000_actions').show();
	}
}

//выводим прогресс бар для публикации
function publish_info_show_progress(show,text){
	if(show==1){
		$('#publish_info').show();
		if(!text) text = 'загрузка..';
		$('#publish_info>.text').html(text);
	}else{
		$('#publish_info_progress').hide();
	}
}



//подготовка и загрузка данных формы
function edit_form3000__load_data(){
	var d = window.edit_form3000__data.load_data;
	
	if(d.load){
		d.wait = 1;
		return
	}
	d.load = 1;
	
	edit_form3000__show_progress(1)
	edit_form3000__load_data_fn(function(){
		var d = window.edit_form3000__data.load_data;
		d.load = 0;
		if(d.wait){
			d.wait = 0;
			return edit_form3000__load_data()
		}
		edit_form3000__show_progress(0)
	});
}

//подготовка и сохранение данных формы
function edit_form3000__save_data(){
	var d = window.edit_form3000__data.save_data;
	
	if(d.load){
		d.wait = 1;
		return
	}
	d.load = 1;
	
	edit_form3000__show_progress(1)
	edit_form3000__save_data_fn(function(){
		var d = window.edit_form3000__data.save_data;
		d.load = 0;
		if(d.wait){
			d.wait = 0;
			return edit_form3000__save_data()
		}
		//edit_form3000__show_progress(0)
		edit_form3000__load_data()
	});
}

//подготовка и публикация сохраненного ранее поста
function edit_form3000__publish(){
	var d = window.edit_form3000__data.publish;
	
	if(d.load){
		d.wait = 1;
		return
	}
	d.load = 1;
	
	edit_form3000__show_progress(1)
	edit_form3000__publish_fn(function(){
		var d = window.edit_form3000__data.publish;
		d.load = 0;
		if(d.wait){
			d.wait = 0;
			return edit_form3000__publish()
		}
		//edit_form3000__show_progress(0)
		edit_form3000__load_data()
	});
}


//вывод сообщения об ошибке
function show_ajax_error(objselector,data,fn) {
	if(data["error"]){
		var errorcode = data["errorcode"];
		if(!errorcode) errorcode = 'hz';
		show_msg(objselector,'['+errorcode+'] '+data["error"]+'<code>'+var_dump(data)+'</code><div class="container"></div>',{type:'error',max_msg_show:2});
	}
	if(fn) fn();
}
//<!-- -------------------------------------------------------------------------------------------------- -->
//загрузка данных формы
function edit_form3000__load_data_fn(fn){
  setTimeout(function(){	
	var p = window.edit_form3000__data.post;
	if(p.edit_type=='new'){
		edit_form3000__setformdata();
		fn();
		return 
	}
	
    $.ajax({
        type: 'POST',
        url: '/e_ajax?d='+p.db+'&id='+p.uuid+'&type=load',
        data: {}
    }).always(function() {
	}).done(function(data) {
			//alert(var_dump(data.data))
			if(data["error"]) return show_ajax_error('#edit_form3000_result',data,fn);

			var p = window.edit_form3000__data.post;
			var d = data.data;
			
			
			p.uuid              = d.uuid;
			p.uuid_user         = d.uuid_user;
			p.uuid_user_create  = d.uuid_user_create;
			p.uuid_user_publish = d.uuid_user_publish;
			p.edit_type         = d.edit_type;
			
			p.name = d.name;
			p.text = d.text;
			p.preview = d.preview;
			p.tags = d.tags;
			p.text = d.text;
			
			edit_form3000__setformdata();
			
			fn()
	}).fail(function() {
			var msg = "<b>ВНИМАНИЕ: произошла внутренняя ошибка сервера</b><br> повторите ваш запрос немного позже"
			show_msg('#edit_form3000_result',msg,{is_sys_error:1,max_msg_show:1})
			fn()
	})
  },100);
}

//задаем поля формы из ранее загруженых данных в window.edit_form3000__data.post
function edit_form3000__setformdata(){
	var p = window.edit_form3000__data.post;
	var f = $('#edit_form3000');
	f.find('.post_name_heder').html(p.name);
	f.find('.post_name').val(p.name);
	f.find('.post_preview').val(p.preview);
	f.find('.post_text').val(p.text);
	f.find('.post_tags').val(p.tags);
	f.find('.edit_type').html(p.edit_type);
	
	f.find('.uuid_post').html(p.uuid);
	f.find('.uuid_user_update').html(p.uuid_user);
	f.find('.uuid_user_create').html(p.uuid_user_create);
	f.find('.uuid_user_publish').html(p.uuid_user_publish);
}

//сохранение данных формы
function edit_form3000__save_data_fn(fn){
	var p = window.edit_form3000__data.post;
	var d = {} //текущие данные которые попытаемся сохранить
	var f = $('#edit_form3000');
	d.db                = p.db;
	d.uuid              = p.uuid;
	d.uuid_user         = p.uuid_user;
	d.uuid_user_create  = p.uuid_user_create;
	d.uuid_user_publish = p.uuid_user_publish;
	d.edit_type         = p.edit_type;
	d.name       = f.find('.post_name').val();
	d.preview    = f.find('.post_preview').val();
	d.text       = f.find('.post_text').val();
	d.tags       = f.find('.post_tags').val();
	d.type       = 'save'

    $.ajax({
        type: 'POST',
        url: '/e_ajax?d='+p.db+'&id='+p.uuid+'&type=save',
        data: d
    }).always(function() {
	}).done(function(data) {
			if(data["error"]) return show_ajax_error('#edit_form3000_result',data,fn);
			var d = data.data;
			if(!d){
				var msg = "<b>ОШИБКА:</b> не верный формат данных овета <br><pre>"+var_dump(data)+"</pre> ";
				show_msg('#edit_form3000_result',msg,{type:'error',max_msg_show:1})
				return fn()
			}
			var p = window.edit_form3000__data.post;
			
			var msg = "<b>отлично:</b> данные поста "+p.uuid+" успешно сохранены (edit_type: "+p.edit_type+")";
			
			p.uuid              = d.uuid;
			p.uuid_user         = d.uuid_user;
			p.uuid_user_create  = d.uuid_user_create;
			p.uuid_user_publish = d.uuid_user_publish;
			p.edit_type         = d.edit_type;
			
			show_msg('#edit_form3000_result',msg,{type:'info',max_msg_show:2})
			
			return fn()
	}).fail(function() {
			var msg = "<b>ВНИМАНИЕ: произошла внутренняя ошибка сервера</b><br> повторите ваш запрос немного позже"
			show_msg('#edit_form3000_result',msg,{is_sys_error:1,max_msg_show:1})
			return fn()
	})
}

//публикация записи tpost
function edit_form3000__publish_fn(fn){
	var p = window.edit_form3000__data.post;
	var d = {} //текущие данные которые попытаемся сохранить
	var f = $('#edit_form3000');
	d.db                = p.db;
	d.uuid              = p.uuid;
	d.uuid_user         = p.uuid_user;
	d.uuid_user_create  = p.uuid_user_create;
	d.uuid_user_publish = p.uuid_user_publish;
	d.edit_type         = p.edit_type;
	d.name       = f.find('.post_name').val();
	d.preview    = f.find('.post_preview').val();
	d.text       = f.find('.post_text').val();
	d.tags       = f.find('.post_tags').val();
	d.type       = 'save'

    $.ajax({
        type: 'POST',
        url: '/e_ajax?d='+p.db+'&id='+p.uuid+'&type=publish',
        data: d
    }).always(function() {
	}).done(function(data) {
			if(data["error"]) return show_ajax_error('#edit_form3000_result',data,fn);
			var d = data.data;
			if(!d){
				var msg = "<b>ОШИБКА:</b> не верный формат данных овета <br><pre>"+var_dump(data)+"</pre> ";
				show_msg('#edit_form3000_result',msg,{type:'error',max_msg_show:1})
				return fn()
			}
			var p = window.edit_form3000__data.post;
			
			var msg = "<b>отлично:</b> данные поста "+p.uuid+" успешно опубликованы (edit_type: "+p.edit_type+")";
			
			p.uuid              = d.uuid;
			p.uuid_user         = d.uuid_user;
			p.uuid_user_create  = d.uuid_user_create;
			p.uuid_user_publish = d.uuid_user_publish;
			p.edit_type         = d.edit_type;
			
			show_msg('#edit_form3000_result',msg,{type:'info',max_msg_show:2})
			
			edit_form3000__publishwork()
			
			return fn()
	}).fail(function() {
			var msg = "<b>ВНИМАНИЕ: произошла внутренняя ошибка сервера</b><br> повторите ваш запрос немного позже"
			show_msg('#edit_form3000_result',msg,{is_sys_error:1,max_msg_show:1})
			return fn()
	})
}


//обработка опубликованного поста
function edit_form3000__publishwork(){
	publish_info_show_progress(1)
	var pw = window.edit_form3000__data.publishwork
	if(!pw.clearinterval){
		pw.clearinterval = function(){
			var pw = window.edit_form3000__data.publishwork
			if(pw.reload_interval){
				clearInterval(pw.reload_interval);
				pw.reload_interval = 0;
			}
		}
	}
	

	var p = window.edit_form3000__data.post;

	var d = {}
	d.db    = p.db;
	d.uuid  = p.uuid;
	d.type  = 'publish';
	
	var fn = function(){};
    $.ajax({
        type: 'GET'
        ,url: '/publish?d='+d.db+'&id='+d.uuid+'&type='+d.type
        //,data: d
    }).always(function() {
	}).done(function(data) {
			if(data["error"]) return show_ajax_error('#publish_info_result',data,fn);
			
			var d = data.log_file;
			if(!d){
				var msg = "<b>ОШИБКА:</b> не верный формат данных овета[err2] <br><pre>"+var_dump(data)+"</pre> ";
				show_msg('#publish_info_result',msg,{type:'error',max_msg_show:1})
				return fn()
			}
			
			pw.clearinterval();
			pw.reload_interval = setInterval(function(){
				edit_form3000__publishwork_getinfo(data)
			}, 1000);			
	}).fail(function() {
			var msg = "<b>ВНИМАНИЕ: произошла внутренняя ошибка сервера[err2]</b><br> повторите ваш запрос немного позже"
			show_msg('#publish_info_result',msg,{is_sys_error:1,max_msg_show:1})
			return
	})
}

//получаем/обновляем информацию об обновлении поста
function edit_form3000__publishwork_getinfo(pd){
	var fn = function(){};
	$.ajax({
	    type: 'GET',
	    url: pd.log_file
	}).always(function() {
	}).done(function(data) {
			if(data["error"]) return show_ajax_error('#publish_info_result',data,fn);
			$('#publish_info_result').html(data)					
	}).fail(function() {
			var msg = "<b>ВНИМАНИЕ: произошла внутренняя ошибка сервера[err3]</b><br> повторите ваш запрос немного позже"
			show_msg('#publish_info_result',msg,{is_sys_error:1,max_msg_show:1})
			return
	})
}

</script>



{{if .error }}
<div class="container"><div class="alert alert-dismissible alert-danger">
	  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	  	<strong>{{.error}}</strong>
</div></div>
{{end}}

<!-- -------------------------------------------------------------------------------------------------- -->
<div method="POST" action="#" class="form-horizontal" id="edit_form3000">

	<div class="form-group">
		<div class="col-md-7">
		    <h1><a href="/p?d={{.db.ShortName}}&id={{.data.uuid}}" class="post_name_heder">{{.data.name}}</a></h1>
		</div>
		<div class="col-md-5">
		    <small>db: <a href="/s?d={{.db.ShortName}}"><b>{{.db.Name}}</b></a></small>
			<br>
			<div>edit_type:<d class="edit_type"> - </b></div>
			<div>post: <b class="uuid_post"> - </b></div>
			<div>user_create: <b class="uuid_user_create"> - </b></div>
			<div>user_update: <b class="uuid_user_update"> - </b></div>
			<div>user_publish: <b class="uuid_user_publish"> - </b></div>
		</div>
	</div>
		
	<div class="form-group">
	    <label for="name">название:</label>
	    <input class="form-control post_name" placeholder="введите название" type="text" name="name" value="">
	</div>
	<div class="form-group">
		<label for="preview">превью:</label>
	    <textarea class="form-control post_preview" rows="3" placeholder="введите превью текста (он будет отображаться в списке при поиске)" name="preview"></textarea>
	</div>
	<div class="form-group">
		<label for="text">текст:</label>
	    <textarea class="form-control post_text" rows="8" placeholder="введите текст" name="text"></textarea>
	</div>
	<div class="form-group">
		<label for="tags">теги:</label>
	    <textarea class="form-control post_tags" rows="1" placeholder="теги поста (ключевые слова по которым его будет не сложно найти)" name="tags"></textarea>
	</div>
	
	
	
	
	<div class="form-group" >
		<div id="edit_form3000_result">

		</div>
		<div id="edit_form3000_progress">
				<table border=0 style="background: rgba(0,0,0, 0);padding:0px;margin:0px;"><tr><td>
				    <img src="/public/img/loading003_16x11.gif" style="padding:15px;marging:15px;">
				</td><td>
				    <span class="progress_text">загрузка</span>
				</td></tr></table>
		</div>
		<div id="edit_form3000_actions" style="display:none;">
		    <label for="post_save">перед сохранением проверьте введенные данные</label>
		    <div class="row">
				<div class="col-md-3">
					<input type="submit" name="post_save" id="post_save" value="сохранить" class="btn btn-lg btn-default btn-block">
				</div>
				<div class="col-md-3">
					<input type="submit" name="post_publish" id="post_publish" value="опубликовать" class="btn btn-lg btn-default btn-block">
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-2"><input type="submit" name="post_delete" id="post_delete" value="удалить" class="btn btn-lg btn-default btn-block"></div>
		    </div>
	    </div>
	</div>
	
	
	<div id="publish_info"  style="display:none;">
		<code id="publish_info_result">
			..load
		</code>
		<div id="publish_info_progress">
			<table border=0 style="background: rgba(0,0,0, 0);padding:0px;margin:0px;"><tr><td>
			    <img src="/public/img/loading003_16x11.gif" style="padding:15px;marging:15px;">
			</td><td>
			    <span class="progress_text">индексация записи</span>
			</td></tr></table>
		</div>
	</div>
	
</div>

<!-- -------------------------------------------------------------------------------------------------- -->





{{end}}
