
{{define "content"}}
<div class="container">
	<center>
	<h1 id="type">
		<ff3><big><big>Ремонт <b>ПК</b>, <b>Ноутбуков</b> и Мониторов. <br></big></big></ff3>
		<ff3><big>Заправка <b>картридж</b>ей.</big></ff3><br>
		<ff3><big>в городе Инта</big></ff3>
	</h1>
	</center>
	<br>
</div>



<div class="container">
  <div class="row">
	<h1>выберите базу данных</h1>
	<div class="list-group">
	      <a href="/s?d=a" class="list-group-item">
	      <h3 class="list-group-item-heading"><b>Ад</b>министрирование 
			<br><small>сборник проверенных скриптов, ссылок, батников, команд, инструкций и просто справочник всяких полезностей в помощь администратору</small></h3>
	      </a>
	      <a href="/s?d=p" class="list-group-item">
	      <h3 class="list-group-item-heading">Программирование 
			<br><small>справочник по функциям, синтаксису, примеры кода и куча другой информации для программеров</small></h3>
	      </a>
	      <a href="/s?d=s" class="list-group-item">
	      <h3 class="list-group-item-heading">Закрытая БД
			<br><small>проверенные серийники/ключи для активации говнософта + ссылки на проверенные торренты и рабочий варез</small></h3>
	      </a>
	</div>

  </div>
</div>
{{end}}
