
{{define "content"}}
<script language='javascript'>

window.search_form3000__data = {load_data:{},progressbar:{}}

$(document).ready(function(){
	var sd = window.search_form3000__data;
	sd.db = '{{.db.ShortName}}';
	
	var f = $('#search_form3000');
	
	$('#s_search_input3000').on('keyup',search_form3000__load_data);
	$('#s_search_input3000').on('keydown',search_form3000__load_data);
})

//выводим прогресс бар загрузки
function search_form3000__show_progress(show,text){
	var p = window.search_form3000__data.progressbar;
	if(!p.start_hide){
		p.start_hide = function(){
			p.hide_timeout_id = setTimeout(function(){
				$('#search_form_progress3000').animate({height:0,padding:0},300)
				p.stop_hide()
			},700);
		}
		p.stop_hide = function(){
			if(!p.hide_timeout_id) return
			clearTimeout(p.hide_timeout_id)
			p.hide_timeout_id = 0;
		}
	}

	if(show==1){
		p.stop_hide()
		
		$('#search_form_progress3000').animate({height:60,padding:0,"padding-right":100,"padding-left":50},200)
		search_info = 'загрузка "'+text+'"'
		if(text==''){
			search_info = 'загрузка всех записей'
		}
		$('#search_form_progress_search_text').html(search_info)
	}else{
		p.start_hide()
	}
}


//пред обработка поиска
function search_form3000__load_data(){
	var d = window.search_form3000__data.load_data;
	
	var search_text = $('#s_search_input3000').val();
	search_text = search_text.trim()
	
	if(d.prev_search_text==search_text){
		d.wait = 0;
		return
	}
	
	set_search_button1_href(search_text);
	
	if(d.load){
		d.wait = 1;
		return
	}
	d.load = 1;
		
	search_form3000__show_progress(1,search_text)
	search_form3000__load_data_fn(search_text,function(){
		var d = window.search_form3000__data.load_data;
		d.load = 0;
		if(d.wait){
			d.wait = 0;
			return search_form3000__load_data()
		}
		search_form3000__show_progress(0)
	});
}

function search_form3000__load_data_fn(search_text,fn){
	var d = window.search_form3000__data.load_data;
	d.prev_search_text = search_text;
	
	//запускаем запрос на обработку
	setTimeout(function(){
		var d  = window.search_form3000__data.load_data;
		var sd = window.search_form3000__data;
		var q = {d:sd.db, s:search_text}
	    $.ajax({
	        type: 'GET',
	        url: '/sq',
	        data: q
	    }).always(function() {
		}).done(function(data) {
			//alert(var_dump(data.data))
			$('#search_form_data3000').html(data)
			fn()
		}).fail(function() {
			var msg = "<b>ВНИМАНИЕ: произошла внутренняя ошибка сервера</b><br> повторите ваш запрос немного позже"
			show_msg('#search_form_data3000',msg,{is_sys_error:1,max_msg_show:1})
			fn()
		})
	},10);
}

function set_search_button1_href(search_text){
	var sd = window.search_form3000__data;
	var href = '/s?d='+sd.db+'&p=1&s='+encodeURIComponent(search_text);
	$('#search_button1').attr('href',href)
}

</script>


<style type="text/css">
.s_search_input3000 {
	font-weight: bold;
}

.s_search_pager3000 {
	margin:1px;
	padding:1px;
	padding-bottom:10px;
}
/*bg color: #272b30*/

#search_form_progress3000 {
	position:absolute;
	padding: 0px;
	margin: 0px;
	margin-right: 0px;
	height:0px;
	z-index:87;
	overflow:hidden;
	width:350px;
	
	border: 0px solid #070b10; 
	border-top: 0px;
	background: rgba(39,43,48, 0.5);
	border-radius: 0px 0px 15px 15px;
}

.search_form_progress3000_1 {
	position:absolute;
	left:0px;
	top:0px;
	right: 0px;
	bottom: 0px;
	
	padding:7px;
	padding-top:0px;
	margin: 7px;
	margin-top: 0px;
	margin-right: 0px;

	border: 0px solid #070b10; 
	border-top: 0px;
	/*background: rgba(39,43,48, 0.7);*/
	/*border-radius: 0px 0px 15px 15px;*/
}

.search_form_progress3000_2 {
	position:absolute;
	left:0px;
	top:0px;
	right: 0px;
	bottom: 0px;
	
	padding:8px;
	padding-top:0px;
	margin: 8px;
	margin-top: 0px;
	/*margin-right: 0px;*/

	border: 1px solid #070b10; /*#272b30*/
	border-top: 0px;
	background: rgba(39,43,48, 1);
	border-radius: 0 0 5 5;
}
.search_form_progress3000_3 {
	padding:0px;
	margin:0px;
	margin-bottom:5px;
}

.list-group-item-3000 {
	padding-left: 2px;
	padding-right: 2px;
}


/*********************************************/
.post_text_preview {
	word-wrap: break-word;
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

</style>


{{if .error }}
<div class="container"><div class="alert alert-dismissible alert-danger">
	  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	  	<strong>{{.error}}</strong>
</div></div>
{{end}}


{{if .db_access }}
{{if eq .db_access "0" }}
<center>
	<a href="https://oauth.vk.com/authorize?client_id=5802778&scope=&redirect_uri=http://{{.http_request.host}}/auth_vk&response_type=code"
	   class="btn btn-primary">
		пройти тест
	</a>
</center>
{{else}}
<div class="form-group">
  <div class="input-group" id="search_form3000">
    <input type="text" class="form-control input-lg s_search_input3000" id="s_search_input3000" value="{{if .get_vars.s}}{{index .get_vars.s 0}}{{end}}">
    <span class="input-group-btn">
      <a href="#" id="search_button1" class="btn btn-default input-lg" type="button"><big><big> &nbsp; поиск &nbsp; </big></big></a>
    </span>


  </div>
  
  <div id=search_form_progress3000>
	<div class="search_form_progress3000_1">
		<div class="search_form_progress3000_2">
			<div class="search_form_progress3000_3">
				<table border=0 style="background: rgba(0,0,0, 0);padding:0px;margin:0px;"><tr><td>
				    <img src="/public/img/loading003_16x11.gif" style="padding:15px;marging:15px;">
				</td><td>
				    <span id="search_form_progress_search_text">загрузка</span>
				</td></tr></table>
			</div>
		</div>	
	</div>	
  </div>

</div>

<div id=search_form_data3000>
	{{block "search_data" .}} Default search_data {{end}} 
</div>

{{end}} <!-- else eq .db_access "0" -->
{{end}}

{{end}}
